*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-color: black;
}

.container{
    color: white;
    height: 800px;
    width: 800px;
    display: grid;
    grid-template-rows:1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr  1fr;
    gap: 20px;
    padding: 10px;
    background-color: brown;
}

.Box{
    background-color: rgb(113, 43, 226);
}

.Header{
    grid-row: 1;
    grid-column: 1/5;
    
}
.Sidebar{
    grid-column: 1;
    grid-row: 2/4;
}

.content1{
    grid-column: 2/4;
}

.content2{
    grid-row: 3;
    grid-column: 2;
}

.content3{
    grid-column: 3;
    grid-row: 3;
}
.Footer{
    grid-column: 1/4;
    
}