h1{
    background-color: green;
}
/* #first{
    background-color: blueviolet;
} */


/* .firstA{
    background-color: aqua;
} */


h2{
    background-color: rgb(88, 88, 195) !important;
}

li{
    background-color: bisque;
}